.SimpleNavBar {
    width: 150px;
    background: #f0f0f0;
    color: #000;
    padding: 5px;
    box-shadow: rgb(32 12 71 / 32%) 0px 0px 32px;
}

.SimpleNavBarButton {
    background: #f0f0f0;
    color:#000;
    text-decoration: none;
}

.SimpleNavBarButton.Active {
    background: #fff;
    color: rgb(86, 71, 205);
}

.SimplePathPanel{
    background: rgb(86, 71, 205);
    color:  #fff;
    font-weight: 500;
    padding: 2px;
}

.SimplePathButton{
    color:  #fff;
    text-decoration: none;
}

